/* *{
padding: 0;
margin: 0;
box-sizing: border-box;
} */

.flexbox-container{
  display:flex;
}


.flexbox-container div{
  width: 435px;
  height: 100px;
  margin: 15px 0 15px 15px;
  
  
   
} 
.flexbox-item-1{
  background-color: rgb(0, 0, 0);
  border-radius: 1px;
  width: 20px;
}

.flexbox-item-2{
  border-radius:  1px;
  background-color: rgb(0, 148, 94);
  width: 200px;
}


.flexbox-item-3{
  background-color: rgb(7, 87, 76);
  border-radius: 1px;
  width: 200px;
}


.long-container {
  display: flex;
  justify-content: space-between;
}

.long-container div{
  width: 300px;
  height: 110x;
  margin: 15px;
  margin-top: 1px;
  /* line-height: 250px; */
  
}

.long-item-1{
  background-color: rgb(83, 142, 252);
  border-radius: 1px;
  height: 425px;
  width: 50px;
}

.long-item-2{
  background-color: rgb(235, 44, 177);
  border-radius: 200%;
  height: 300px;
  align-self: center;
  
}

.long-item-3{
  background-color: rgb(201, 142, 142);
  border-radius: 1px;
  height: 425px;
  width: 250px;
}

.short-container{

  margin: 1px 15px;
  background-color: rgb(173, 43, 43);
  height: 84px;

}

